 body { font-family: sans-serif; 
     font-variant: normal; 
     text-align: justify;
     font-size: 30px;
     margin: 2cm
 
    }



  .subtitulo {  display: flex; text-align: center; font-size: 100%; font-style: italic; border: red 5px dashed;
    animation-name: neon; animation-duration: 1s; animation-iteration-count: infinite
                  }

      @keyframes neon { 
                    0% {border: rgb(196, 178, 17) 5px dashed; }
                    50% {border: red 5px dashed;}
                    100% {border: yellowgreen 5px dashed;}}

   h2 {text-align: center; font-size: 200%; font-style: italic; color:rgb(196, 178, 17); border: red 5px dashed;
    animation-name: neon; animation-duration: 1s; animation-iteration-count: infinite }   
                
   .cita { display: flex; text-align: center; font-size: 100%; font-style: italic; }
   .conejo { float:right; display: flex; animation-name: conejovuela;
        animation-duration: 3s; animation-iteration-count:infinite; }
        

    @keyframes conejovuela {
        from {
            margin-right: 130%;
            width: 40%
          }
        
          to {
            margin-right: 0%;
            width: 40%;
          }
    }

 .carouselExampleCaptions { display: flex;}

 .calendariodiv {display: flex; flex-direction: column; flex-wrap: wrap;
     align-items: end;
      width: 620px ; 
      text-align: start; margin-left: 3cm;
      }
  h3 { text-align: center; color:rgb(196, 178, 17); font-size: xx-large; }

 strong { color:black;
             padding: 3px; 
             animation-name: animaciondefecha;
             background-color: aquamarine;
             animation-duration: 1s;
             animation-iteration-count:infinite;
             animation-direction: alternate;
      }

  @keyframes animaciondefecha{ 
      from {background-color: yellow;} 
      to {background-color: red; }
    }
    
    

    
   .footer {display: flex; flex-wrap: wrap;
     flex-direction:column; align-items: center; 
     text-align: center;font-size: 50%; margin-top: 3cm;}
